[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=textporter
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Textporter
Comment=description here
